<template>
	<Page class="page">
		<ActionBar title="AsthmaCare" class="action-bar">
			<ActionItem @tap="onOpenDrawerTap" ios.position="left" text="☰" android.position="popup" />
		</ActionBar>

		<GridLayout rows="*" height="1500px">
			<RadSideDrawer ref="drawer">
				<StackLayout ~drawerContent backgroundColor="#EFEFF4">
					<StackLayout @tap="goto('inicio')" style="border-bottom-width: 1; border-bottom-color: #CECECE">
						<Label text="Início" padding="18 10" />      
                    </StackLayout>
                <StackLayout @tap="goto('crises')" style="border-bottom-width: 1; border-bottom-color: #CECECE">
                    <Label text="Meu histórico" padding="18 10" />      
                </StackLayout>
	            <StackLayout @tap="goto('meu-sensor')" style="border-bottom-width: 1; border-bottom-color: #CECECE">
	                <Label text="Meu sensor" padding="18 10" />      
	            </StackLayout>
                <StackLayout @tap="goto('recomendacoes')" style="border-bottom-width: 1; border-bottom-color: #CECECE">
                    <Label text="Recomendações" padding="18 10" />
                </StackLayout>		 
                <StackLayout @tap="gotoAlerta" style="border-bottom-width: 1; border-bottom-color: #CECECE">
                    <Label text="Simular" padding="18 10" />      
                </StackLayout>
    </StackLayout>

    <FlexboxLayout ~mainContent class="wrapper" flexDirection="column" alignItems="center" alignContent="center">
     <FlexboxLayout class="container">

      <!-- PAGE INICIO -->
      <ScrollView v-show="page == 'inicio'">
       <StackLayout>
        <Label text="Como está lá fora?" textAlignment="center" fontWeight="bold" fontSize="22" margin="10 30" />
        <Label text="'-'" color="white" :backgroundColor="corFundoStatus" padding="4" textAlignment="center" fontSize="62" width="130" borderRadius="10" marginBottom="10" />
        <TextView editable="false" textAlignment="center">
         <FormattedString>
          <Span :text="descricaoDia" fontSize="18" margin="15 30" />
         </FormattedString>
        </TextView>

        <FlexboxLayout flexDirection="row" class="qualidade" @tap="toggleInfoQualidade" marginTop="20">
         <StackLayout orientation="horizontal">
          <Button class="plus-qualidade" :text="infoQualidadeAberta ? '-' : '+'" @tap="toggleInfoQualidade" />
          <Label class="titulo-qualidade" fontWeight="bold" text="Qualidade do ar" />
         </StackLayout>
         <Label class="label-qualidade" text="Regular" backgroundColor="#FDCB6E" />
        </FlexboxLayout>
     
        <StackLayout class="infos" v-show="infoQualidadeAberta">
         <FlexboxLayout class="container-info" flexDirection="row">
          <Label class="nome-info" text="O3" />
          <Label class="valor-info" text="63 ppb" />
         </FlexboxLayout>
         <FlexboxLayout class="container-info" flexDirection="row">
          <Label class="nome-info" text="PM2.5" />
          <Label class="valor-info" text="12.0 µg/m³" />
         </FlexboxLayout>
         <FlexboxLayout class="container-info" flexDirection="row">
          <Label class="nome-info" text="PM10" />
          <Label class="valor-info" text="37 µg/m³" />
         </FlexboxLayout>
        </StackLayout>

        <FlexboxLayout flexDirection="row" class="qualidade" @tap="toggleInfoRegional">
         <StackLayout orientation="horizontal">
          <Button class="plus-qualidade" :text="infoRegionalAberta ? '-' : '+'" @tap="toggleInfoRegional" />
          <Label class="titulo-qualidade" fontWeight="bold" text="Dados regionais" />
         </StackLayout>
         <Label class="label-qualidade" text="Regular" backgroundColor="#FDCB6E" />
        </FlexboxLayout>
     
        <StackLayout class="infos" v-show="infoRegionalAberta">
         <FlexboxLayout class="container-info" flexDirection="row">
          <Label class="nome-info" text="Temperatura" />
          <Label class="valor-info" text="80° F" />
         </FlexboxLayout>
         <FlexboxLayout class="container-info" flexDirection="row">
          <Label class="nome-info" text="Umidade" />
          <Label class="valor-info" text="22%" />
         </FlexboxLayout>
        </StackLayout>

        <FlexboxLayout flexDirection="row" class="qualidade" @tap="crisesAberto = !crisesAberto">
         <FlexboxLayout flexDirection="row">
          <Button class="plus-qualidade" fontSize="32" fontWeight="bold" :text="5" @tap="crisesAberto = !crisesAberto" />
          <Label class="titulo-qualidade" fontWeight="bold" marginLeft="3" :text="crisesAberto ? 'Crises reportadas na sua região     ▴' : 'Crises reportadas na sua região     ▾'" />
         </FlexboxLayout>
        </FlexboxLayout>

        <StackLayout width="100%" v-show="crisesAberto">
         <Image width="100%" src="https://image.ibb.co/grc2J0/rosevilleeeee.png" />
        </StackLayout>
       </StackLayout>
      </ScrollView>
      <!-- PAGE INICIO -->
    
      <!-- PAGE ALERTA -->
      <FlexboxLayout flexDirection="column" justifyContent="space-between" v-show="page == 'alerta'">
       <Image src="https://image.ibb.co/dh9S0f/asthma.jpg" marginTop="-40" marginBottom="-70" />
  
       <TextView editable="false" textAlignment="center" class="main-text" marginLeft="20" marginRight="20" marginBottom="20">
        <FormattedString>
         <Span text="Seu inalador foi ativado e seus contatos de emergência avisados, está tudo bem?" />
        </FormattedString>
       </TextView>
  
       <FlexboxLayout class="buttons" marginLeft="30" marginRight="30" marginBottom="10">
        <Button class="btn-success" text="Sim, avise que está tudo bem" @tap="numeroCrises++; goto('inicio')" />
        <Button class="emergency-button" text="Não, preciso de ajuda" @tap="goto('emergencia')" />
       </FlexboxLayout>
      </FlexboxLayout>
      <!-- PAGE ALERTA -->


      <!-- PAGE EMERGENCIA -->  
      <StackLayout v-show="page == 'emergencia'">
        <TextView editable="false" textAlignment="center" class="main-text" marginLeft="20" marginRight="20" marginBottom="10" marginTop="15">
		    <FormattedString>
				<Span text="Recomendações" />
	        </FormattedString>
	    </TextView>
	        <ListView for="recomendacao in recomendacoes" style="height:1250px">
	            <v-template>
	                <FlexboxLayout flexDirection="row" class="list-group-item">
	                    <TextView editable="false" textAlignment="center" class="list-group-item-heading">
	                        <FormattedString>
	                            <Span :text="recomendacao" />
	                        </FormattedString>
	                    </TextView>
	                </FlexboxLayout>
	            </v-template>
	        </ListView>        
	      </StackLayout>
      <!-- PAGE EMERGENCIA -->

      <!-- PAGE CRISES -->
      <ScrollView>        
       <StackLayout v-show="page == 'crises'">
        <!-- <Label :text="dataUltimaCrise ? 'Última crise em ' + stringUltimaCrise : 'Nenhuma crise registrada'" style="padding: 15 10; font-size: 22; margin-top: 9; margin-bottom: 20" /> -->
        <Label text="Últimos 3 meses" style="padding: 15 10; font-size: 22; margin-top: 9" />
        <GridLayout rows="*" height="500px">
         <RadCartesianChart row="0">
          <BarSeries seriesName="Bar" v-tkCartesianSeries :items="historicoMinhasCrises" categoryProperty="Mes" valueProperty="Amount" />
          <Palette v-tkCartesianPalette seriesName="Bar">
           <PaletteEntry v-tkCartesianPaletteEntry fillColor="#75EB88" strokeColor="#75EB88" />
          </Palette>
          <CategoricalAxis v-tkCartesianHorizontalAxis />
          <LinearAxis v-tkCartesianVerticalAxis labelFormat="%.0f" />
         </RadCartesianChart>
        </GridLayout>
       </StackLayout>
      </ScrollView>
      <!-- PAGE CRISES -->

      <!-- PAGE RECOMENDACOES -->
      <StackLayout v-show="page == 'recomendacoes'">
       <TextView editable="false" textAlignment="center" class="main-text" marginLeft="20" marginRight="20" marginBottom="10" marginTop="15">
        <FormattedString>
         <Span text="Recomendações" />
        </FormattedString>
       </TextView>
       <ScrollView>
        <ListView for="recomendacao in recomendacoes" style="height:1250px">
            <v-template>
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <TextView editable="false" textAlignment="center" class="list-group-item-heading">
                        <FormattedString>
                            <Span :text="recomendacao" />
                        </FormattedString>
                    </TextView>
                </FlexboxLayout>
            </v-template>
        </ListView>
		</ScrollView>
      </StackLayout>
      <!-- PAGE RECOMENDACOES -->

	<!-- PAGE MEU SENSOR -->
    <ScrollView>
        <StackLayout v-show="page == 'meu-sensor'">
            <TextView editable="false" textAlignment="center" class="main-text" marginLeft="20" marginRight="20" marginBottom="10">
                <FormattedString>
                    <Span text="Material particulado (PM2.5 µg/m³)" />
                </FormattedString>
            </TextView>
            <GridLayout rows="*" height="500px" marginBottom="35" marginLeft="10" marginRight="10">
            <RadCartesianChart row="0">
                <SplineSeries v-tkCartesianSeries :items="meuSensorMaterialParticulado" categoryProperty="Hora" valueProperty="Amount" />
                <CategoricalAxis v-tkCartesianHorizontalAxis />
                <LinearAxis v-tkCartesianVerticalAxis />
            </RadCartesianChart>
            </GridLayout>

            <TextView editable="false" textAlignment="center" class="main-text" marginLeft="20" marginRight="20" marginBottom="10">
                <FormattedString>
                    <Span text="Temperatura °C" />
                </FormattedString>
            </TextView>
            <GridLayout rows="*" height="500px" marginBottom="35" marginLeft="10" marginRight="10">
                <RadCartesianChart row="0">
                    <SplineSeries v-tkCartesianSeries :items="meuSensorTemperatura" categoryProperty="Hora" valueProperty="Amount" />
                    <CategoricalAxis v-tkCartesianHorizontalAxis />
                    <LinearAxis v-tkCartesianVerticalAxis />
                </RadCartesianChart>
            </GridLayout>

            <TextView editable="false" textAlignment="center" class="main-text" marginLeft="20" marginRight="20" marginBottom="10">
                <FormattedString>
                    <Span text="Umidade" />
                </FormattedString>
            </TextView>
            <GridLayout rows="*" height="500px" marginBottom="35" marginLeft="10" marginRight="10">
                <RadCartesianChart row="0">
                    <SplineSeries v-tkCartesianSeries :items="meuSensorUmidade" categoryProperty="Hora" valueProperty="Amount" />
                    <CategoricalAxis v-tkCartesianHorizontalAxis />
                    <LinearAxis v-tkCartesianVerticalAxis />
                </RadCartesianChart>
            </GridLayout>            

        </StackLayout>
	</ScrollView>
	<!-- PAGE MEU SENSOR -->

     </FlexboxLayout>
    </FlexboxLayout>
   </RadSideDrawer>
  </GridLayout>
 </Page>
</template>

<script>
require("nativescript-ui-autocomplete/vue");
const ObservableArray = require("data/observable-array").ObservableArray;
const autocompleteModule = require("nativescript-ui-autocomplete");

require("nativescript-ui-chart/vue");
require("nativescript-vue").registerElement(
    "RadSideDrawer",
    () => require("nativescript-ui-sidedrawer").RadSideDrawer
);

var dialogs = require("tns-core-modules/ui/dialogs");
var platform = require("tns-core-modules/platform");

export default {
    data() {
        return {
            corFundoStatus: "#FDCB6E",
            descricaoDia:
                "Risco moderado, evite atividade física prolongada em ambientes externos",
            recomendacoes: [
                "Faça atividades físicas, sem esquecer do uso do broncodilatador antes de começar a se exercitar",
                "Evite o contato com fumaça, principalmente a vinda do hábito de fumar",
                "Limpe bastante suas roupas de cama, se necessário usar água quente",
                "Combata a aparição de baratas, mofo, bolor e outros fatores que possam causar crises",
                "Quando houver um baixo IQA (Índice de qualidade do ar), evite o máximo atividades que sejam em ambientes externos",
                "Tome cuidado com medicamentos que possam facilitar crises (Atenolol, propranolol, ácido acetilsalicílico)"
            ],
            textFieldValue: "",
            crisesAberto: false,
            dataUltimaCrise: null,
            historicoMinhasCrises: [
                {
                    Mes: "Agosto",
                    Amount: 2
                },
                {
                    Mes: "Setembro",
                    Amount: 4
                },
                {
                    Mes: "Outubro",
                    Amount: 1
                }
            ],
            meuSensorMaterialParticulado: [
                {
                    Hora: "09h",
                    Amount: 8
                },
                {
                    Hora: "10h",
                    Amount: 9
                },
                {
                    Hora: "11h",
                    Amount: 10.5
                },
                {
                    Hora: "12h",
                    Amount: 11
                },
                {
                    Hora: "13h",
                    Amount: 12
                },
                {
                    Hora: "14h",
                    Amount: 13.5
                },
                {
                    Hora: "15h",
                    Amount: 15.5
                },
                {
                    Hora: "16h",
                    Amount: 14.5
                }
            ],
            meuSensorTemperatura: [
                {
                    Hora: "09h",
                    Amount: 17
                },
                {
                    Hora: "10h",
                    Amount: 19
                },
                {
                    Hora: "11h",
                    Amount: 22
                },
                {
                    Hora: "12h",
                    Amount: 29
                },
                {
                    Hora: "13h",
                    Amount: 26
                },
                {
                    Hora: "14h",
                    Amount: 23
                },
                {
                    Hora: "15h",
                    Amount: 21
                },
                {
                    Hora: "16h",
                    Amount: 20
                }
            ],
            meuSensorUmidade: [
                {
                    Hora: "09h",
                    Amount: 10
                },
                {
                    Hora: "10h",
                    Amount: 20
                },
                {
                    Hora: "11h",
                    Amount: 20
                },
                {
                    Hora: "12h",
                    Amount: 18
                },
                {
                    Hora: "13h",
                    Amount: 10
                },
                {
                    Hora: "14h",
                    Amount: 20
                },
                {
                    Hora: "15h",
                    Amount: 25
                },
                {
                    Hora: "16h",
                    Amount: 24
                }
            ],
            page: "inicio",
            numeroCrises: 0,
            quantidadeCrises: 0,
            stringUltimaCrise: null,
            textToggleInfoQualidade: "+",
            textToggleInfoRegional: "+",
            infoQualidadeAberta: false,
            infoRegionalAberta: false,
            textoQualidade: "Ruim",
            corQualidade: "#EB7575",
            valorCO: Math.random().toFixed(3),
            valorNO2: Math.random().toFixed(3),
            valorO3: Math.random().toFixed(3)
        };
    },
    methods: {
        onItemTap: function(args) {
            console.log("Item with index: " + args.index + " tapped");
        },

        onOpenDrawerTap() {
            this.$refs.drawer.nativeView.showDrawer();
        },
        onCloseDrawerTap() {
            this.$refs.drawer.nativeView.closeDrawer();
        },
        goto(pagina) {
            this.page = pagina;
            this.onCloseDrawerTap();
        },
        gotoAlerta() {
            this.onCloseDrawerTap();
            var novaQuantidadeCrises = this.quantidadeCrises + 1;
            this.quantidadeCrises = novaQuantidadeCrises;
            this.historicoMinhasCrises = [
                {
                    Mes: "Agosto",
                    Amount: 0
                },
                {
                    Mes: "Setembro",
                    Amount: 0
                },
                {
                    Mes: "Outubro",
                    Amount: novaQuantidadeCrises
                }
            ];
            this.dataUltimaCrise = new Date();
            this.stringUltimaCrise =
                this.dataUltimaCrise.getDate() +
                "/" +
                (this.dataUltimaCrise.getMonth() + 1) +
                "/" +
                this.dataUltimaCrise.getFullYear();

            this.page = "alerta";
        },
        toggleInfoQualidade() {
            if (this.infoQualidadeAberta) {
                this.textToggleInfoQualidade = "+";
                this.infoQualidadeAberta = false;
            } else {
                this.textToggleInfoQualidade = "-";
                this.infoQualidadeAberta = true;
            }
        },
        toggleInfoRegional() {
            if (this.infoRegionalAberta) {
                this.textToggleInfoRegional = "+";
                this.infoRegionalAberta = false;
            } else {
                this.textToggleInfoRegional = "-";
                this.infoRegionalAberta = true;
            }
        }
    }
};
</script>

<style scoped lang="scss">
 $primary-color: #75EB88;
 $danger-color: #EB7575;
 $background-color: white;
 $default-color: #C4C4C4;
 $flat-grey: #E7E5E5;

 .wrapper {
  background-color: $background-color;
 }

 .container {
  background-color: white;
 }

    .main-text {
        font-size: 24;
    }

 .action-bar {
  background-color: $primary-color;
  color: white;
 }

    .btn-success {
        background-color: $primary-color;        
  border-radius: 5;
     padding: 10 20;
        color: white;        
    }

 .btn-outline-primary {
  border-color: $primary-color;
  color: $primary-color;
 }

.emergency-button {
    border-color: $danger-color;
    border-radius: 5;
    border-width: 2;
    padding: 10 20;
    color: $danger-color;
    width: 315;
}

.danger-button {
    background-color: $danger-color;
    color: white;
    border-radius: 5;
    padding: 10 20;
}

    .btn-outline-default {
  border-color: $default-color;        
  border-radius: 5;
  border-width: 2;
        padding: 10 20;
  color: $default-color;
 }

 .buttons {
  flex-direction: column;

  Button {        
         width: 150;
   margin-top: 10;
     }
 }
 
 .highlight-number {
  font-size: 64;
 }

 .highlight-text {
  font-size: 18
 }

 .qualidade {
  justify-content: space-between;
  padding: 15 10;
  width: 100%;
  border-color: $flat-grey;
  border-bottom-width: 1;

   .plus-qualidade {
    color: black;
    font-size: 24;
    margin-top: -4;
   }

  .titulo-qualidade {
   font-size: 18;
  }

  .label-qualidade {
   border-radius: 5;
   color: white;
   padding: 8 12;   
  }
 }
 .infos {
  .container-info {
   justify-content: space-between;
   width: 100%;
   padding: 16 12;
   border-bottom-width: 1;
   border-bottom-color: $flat-grey;

   .valor-info {
    color: $default-color;
   }
  }
 }

.list-group-item-heading {
    width: 100%;
    font-size: 16;
    padding-top: 15;
    padding-bottom: 15;
    padding-left: 0;
    margin-left: 0;
    border-bottom-width: 1;
    border-bottom-color: #CECECE;
}
</style>
